<h1>Mail</h1>

<table class="table table hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Subject</th>
      <th>Received at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>-</td>
      <td>__/__/____</td>
    </tr>
  </tbody>
</table>