<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title><%= "#{SITE_NAME}#{!!@page_title ? " | #{@page_title}" : ""}" %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/stylesheets/DataTables/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/stylesheets/DataTables/responsive.dataTables.min.css">

    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div
      id="xhr-progress-bar"
      class="progress-bar progress-bar-striped bg-info"
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="100"></div>

    <div class="container">
      <%= yield %>
    </div>

    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="/javascripts/DataTables/dataTables.dataTables.min.js"></script>
    <script src="/javascripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="/javascripts/DataTables/responsive.dataTables.min.js"></script>
    <script src="/javascripts/dataTables.bootstrap4.js"></script>
    <script src="/javascripts/gmail_mail_interceptor.js"></script>
    <script src="/javascripts/custom.js"></script>
  </body>
</html>